{% extends 'store/base.html' %}
{% block content %}

    <h2>Products in category: {{ category.name }}</h2>

    <a href="{% url 'category-list' %}">Back to all categories</a>
    <hr>

    {% for prod in products %}
        <div style="border: 1px solid black; margin: 5px; padding: 5px;">
            <h4>{{prod.name}}</h4>
            <p>Price: {{prod.price}}</p>
            <p>{{prod.description}}</p>
            <form action="{% url 'add-to-cart' prod.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <button type="submit">Add to cart</button>
            </form>
        </div>
    {% empty %}
        <p>This category is empty now.</p>
    {% endfor %}
    <div class="pagination" style="margin-top: 20px; text-align: center;">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ products.previous_page_number }}">Back</a>
            {% endif %}

            <span class="current">
                Страница {{ products.number }} из {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Next</a>
                <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}